body {
    background: #DDDDDD;
    color:#DD3333;
}

img {
    width: auto;
    height: 450px;
}

a {
    border: 2px solid black;
}

strong {
    /* I like this look the best so far. Really emphasizes the strength of the text. */
    text-shadow: 0px 0px 1px #000000;
}
